@import "../../styles/colors";
@import "../../styles/mixin";

.button {
  @include square(50px, 6px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-red ;
    cursor: pointer;
    border: none;
    outline: none;
}

.button:hover {
    opacity: 0.8;
}

.button:disabled {
    background-color: $light-gray;
}