.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 40px;
    color: #FFFFFF;
    background-color: #FF5555;
    border-radius: 50%;
    margin-right: 12px;
}