@import "../../styles/colors";
@import "../../styles/mixin";

.repoTile {
  @include rectangle(100%, 100px, 6px);
    border: 1px solid $light-gray;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.repoTile:hover {
    box-shadow: 0 2px 6px 0 $medium-gray;
    cursor: pointer;
}

.repoTile_info_name {
    font-size: 16px;
    font-weight: 700;
}

.repoTile_info-link {
    font-size: 14px;
    color: $gray;
    text-decoration: none;
}

.repoTile_info-link:hover {
    color: $blue;
    cursor: pointer;
}

.repoTile_info_rating {
    display: flex;
    align-items: center;
}

.repoTile_info_rating_voice {
    display: inline-block;
    margin: 0 6px;
    color: $gray;
}

.repoTile_info_rating_update {
    display: inline-block;
    color: $gray;
}

